@model TarkariWala.Models.Order

@{
    ViewBag.Title = "Create";
}
    <div>
        <div class="bg-dark rounded">
            <p class="nav-link text-white" style="font-size:20px;">
                Order &nbsp;<i class="fas fa-chevron-right"></i>
                Create
            </p>
        </div>
        <div>
            <ul class="nav nav-tabs" id="tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active btn-outline-info" id="create-tab" data-toggle="tab" href="#OrdersCreate" role="tab" aria-controls="create" aria-selected="true">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-outline-info" id="index-tab" data-toggle="tab" href="#OrdersIndex" role="tab" aria-controls="index" aria-selected="true">Index</a>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="Orderstabcontent">
            <div class="tab-pane fade show active" id="OrdersCreate" role="tabpanel" aria-labelledby="create-tab">
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="container">

                        <div class="form-row">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ClientID, "ClientID", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class=" input-group col-md-10">
                                            @Html.DropDownList("ClientID", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ClientID, "", new { @class = "text-danger" })
                                            <div class="input-group-append">
                                                <button type="button" class="btn-success" data-toggle="modal" data-target="#ClientsCreateModal">
                                                    <i class="fa fa-plus-circle"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProductID, "ProductID", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="input-group col-md-10">
                                            @Html.DropDownList("ProductID", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                                            <div class="input-group-append">
                                                <button type="button" class="btn-success" data-toggle="modal" data-target="#ProductsCreateModal">
                                                    <i class="fa fa-plus-circle"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeliveryTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.DeliveryTime, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DeliveryTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div id="OrdersIndex" class="tab-pane fade" role="tabpanel" aria-labelledby="index-tab">
                @Html.Action("Index", "Orders")

            </div>
        </div>
    </div>



        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

<div class="modal fade" id="ClientsCreateModal" tabindex="-1" role="dialog" aria-labelledby="ClientsCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        @Html.Action("ClientsCreateModal", "Orders")

    </div>
</div>

<div class="modal fade" id="ProductsCreateModal" tabindex="-1" role="dialog" aria-labelledby="ProductsCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        @Html.Action("ProductsCreateModal", "Orders")

    </div>
</div>
