@model TarkariWala.Models.Coupen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Coupen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoupenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoupenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoupenCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoupenCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CoupenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
