@model IEnumerable<TarkariWala.Models.Coupen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoupenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoupenCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoupenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoupenCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CoupenID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CoupenID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CoupenID })
        </td>
    </tr>
}

</table>
