@model TarkariWala.Models.Product

@{
    ViewBag.Title = "Create";
    

}

    <div>
        <div class="bg-dark rounded">
            <p class="nav-link text-white" style="font-size:20px;">Product &nbsp;<i class="fas fa-chevron-right"></i> Create</p>
        </div>
        <div>
            <ul class="nav nav-tabs" id="tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active btn-outline-info" id="create-tab" data-toggle="tab" href="#Create" role="tab" aria-controls="create" aria-selected="true">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-outline-info" id="index-tab" data-toggle="tab" href="#Index" role="tab" aria-controls="index" aria-selected="true">Index</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="tab-content" id="productstabcontent">
                <div class="tab-pane fade show active" id="Create" role="tabpanel" aria-labelledby="create-tab">
                    <br />

                    @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", type = "file" } })
                                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.ProductSubCategoryID, "ProductSubCategoryID", htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="input-group col-md-10">
                                            @Html.DropDownList("ProductSubCategoryID", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ProductSubCategoryID, "", new { @class = "text-danger" })
                                            <div class="input-group-append">
                                                <button type="button" class="btn-success" data-toggle="modal" data-target="#SubCategoryModal">
                                                    <i class="fa fa-plus-circle"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SuppliersID, "SuppliersID", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="input-group col-md-10">
                                            @Html.DropDownList("SuppliersID", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.SuppliersID, "")
                                            <div class="input-group-append">
                                                <button type="button" class="btn-success" data-toggle="modal" data-target="#suppliersModal">
                                                    <i class="fa fa-plus-circle"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-outline-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>


                <div id="Index" class="tab-pane fade" role="tabpanel" aria-labelledby="index-tab">
                    @Html.Action("Index", "Products")

                </div>
            </div>
        </div>
    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
<div class="modal fade" id="SubCategoryModal" tabindex="-1" role="dialog" aria-labelledby="SubCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        @Html.Action("ProductSubCategoriesCreateModal", "Products")

    </div>
</div>
<div class="modal fade" id="suppliersModal" tabindex="-1" role="dialog" aria-labelledby="suppliersModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        @Html.Action("SuppliersCreateModal", "Products")

    </div>
</div>
