<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
    <link href="~/Content/css/style4.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/scanandother/instascan.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('#sidebarCollapse1').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
            <button id="sidebarCollapse1" class="nav-item navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
           
        </div>
    </nav>
    <div class="wrapper top">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>  @User.Identity.Name</h3>
                <strong>

                </strong>
            </div>

            <ul class="list-unstyled components">

                <li class="active">@Html.ActionLink("Products", "Create", "Products")</li>

                <li>@Html.ActionLink("Clients", "Create", "Clients")</li>

                <li>@Html.ActionLink("Suppliers", "Create", "Suppliers")</li>
                <li>@Html.ActionLink("Orders", "Create", "Orders")</li>
                <li>@Html.ActionLink("Category", "Create", "Categories")</li>
                <li>@Html.ActionLink("SubCategories", "Create", "ProductSubCategories")</li>
                <li>@Html.ActionLink("Cart", "Create", "Carts")</li>
                <li>@Html.ActionLink("Deliveryman", "Create", "Deliverymen")</li>
                <li>@Html.ActionLink("Payments", "Create", "Payments")</li>
                <li>@Html.ActionLink("Address", "Create", "Addresses")</li>
                <li>@Html.ActionLink("Municipalities", "Create", "Municipalities")</li>
                <li>@Html.ActionLink("District", "Create", "Districts")</li>
                <li>@Html.ActionLink("States", "Create", "States")</li>
                <li>@Html.ActionLink("DeliveryInformations", "Create", "DeliveryInformations")</li>
                <li>@Html.ActionLink("GifCard", "Create", "GifCards")</li>
                <li>@Html.ActionLink("Coupen", "Create", "Coupens")</li>
                <li>@Html.ActionLink("Comments", "Create", "Comments")</li>
            </ul>
              
              
          
        </nav>

        <div id="content">

            <div class="container body-content col-md-12 col-sm-12 col-lg-12">
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

