@model TarkariWala.Models.ProductSubCategory

@{
    ViewBag.Title = "Create";

}
<h4>ProductSubCategory</h4>

<div class="container">
    @using (Html.BeginForm("Create", "ProductSubCategories", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-row">

            <div class="col-md-4">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.ProductSubCategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProductSubCategoryName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductSubCategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Available, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Available)
                                @Html.ValidationMessageFor(model => model.Available, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.DisplayOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", type = "file" } })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-info" />
            </div>
        </div>
    }
    </div>
       

    

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
