@model IEnumerable<TarkariWala.Models.ProductSubCategory>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <table class="table" id="productsubcategoriestable" border="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductSubCategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Available)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayOrder)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img src="@item.Image" style="height:80px; width:80px;" />
                </td>

                <td>
                    <a href="javascript:void(0);" class="clickmeEvent text-info" data-id="@item.ProductSubCategoryID"> @item.ProductSubCategoryName</a>
                    <p id="productsubcategoryName" hidden>@item.ProductSubCategoryName</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductSubCategoryID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductSubCategoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductSubCategoryID })
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>


<div id="myModal" class="modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-tasks"></i>&nbsp;<span id="productsubcategoryName1"></span>
            </div>
            <div id="myModalContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    
    <script>
        $(document).ready(function () {
          

            var TeamDetailPostBackURL = '/ProductSubCategories/ProductSubCategoryDetails';

            $(".clickmeEvent").click(function () {
                alert();
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $("#myModalContent").html(data);
                        $("#myModal").modal('show');


                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    },
                });
            });
        });
    </script>
}

