@model IEnumerable<TarkariWala.Models.Deliveryman>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeliverymanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CitizenshipNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeliverymanName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CitizenshipNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeliverymansID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeliverymansID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeliverymansID })
        </td>
    </tr>
}

</table>
