@model IEnumerable<TarkariWala.Models.Client>

@{
    ViewBag.Title = "Index";
    Layout=null;
}

<div class="container">
    <table class="table" id="clientstable" border="1">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ClientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address.StreetAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PermanentAddressID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TemporaryAddressID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefferClientCode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermanentAddressID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TemporaryAddressID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefferClientCode)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClientID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ClientID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClientID })
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>

    </table>
</div>
<link href="~/Content/datatable jq/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Content/datatable jq/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#clientstable').DataTable({

            });
        });
    </script>
}
